Repository Fintan-contents/mobile-app-crib-notes, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, build, chore, ci, doc, test

App.tsxの場所を修正。/src/contexts/App.tsx -> /src/App.tsx (#298)
  docs/react-native/learn/todo-app/screens/auth.mdx
Labels: doc

🖋: アプリの実行と仕組みを同じような分け方で記載する (#297)
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/react-native-android-build.png
  docs/react-native/learn/getting-started/react-native-build.png
  docs/react-native/learn/getting-started/react-native-ios-build.png
Labels: doc

ログイン画面で張り付けるLogin.tsxのprettierエラーを修正 (#301)
  docs/react-native/learn/todo-app/screens/login.mdx
Labels: doc

Getting StartedのOverviewの「環境構築」を左ペインにあわせて「開発環境の構築」に修正 (#300)
  docs/react-native/learn/getting-started.mdx
Labels: doc

プロジェクト作成時に指定するプロジェクト作成にkabab-caseが使えない説明を追記 (#299)
  docs/react-native/learn/getting-started/create-project.md
Labels: doc

✨: 演習問題からは削除して、実装時に補足するように修正 (#306)
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/react-native/learn/todo-app/screens/todo-form.mdx
Labels: doc

🌱: gitの利用を勧めてみる (#302)
  docs/react-native/learn/getting-started/create-project.md
Labels: doc

🌱: BareWorkflowのリンクを追加 (#304)
  docs/react-native/learn/getting-started/launch-created-app.mdx
Labels: doc

StackナビゲーションページでToDo一覧画面のヘッダーにログインボタンが表示されていたので表示しないように修正 (#303)
  docs/react-native/learn/todo-app/screens/stack.mdx
Labels: doc

🖋: モーダルページ冒頭の「いわゆるポップアップ画面です」を削除し、画面遷移アニメーションの違いを追記 (#307)
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
Labels: doc

🐛: REST API呼びだしの中で表記が間違っているものなどを修正 (#310)
  docs/react-native/learn/todo-app/networking/api-request.mdx
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Labels: doc

✨: ToDo毎にブロックするように修正する (#308)
  docs/react-native/learn/todo-app/networking/activity-indicator-each-todo.mdx
  docs/react-native/learn/todo-app/networking/activity-indicator.mdx
  docs/react-native/learn/todo-app/networking/improve-usability.mdx
  docs/react-native/learn/todo-app/networking/todo_indicator.png
  docs/sidebars.js
Labels: doc

🐛: 動作確認のタイミングに対する指摘に対応 (#311)
  docs/react-native/learn/todo-app/screens/stack.mdx
Labels: doc

📝: 別件の対応時に追加した行を消すDiffがもれているので対応 (#314)
  docs/react-native/learn/todo-app/screens/auth.mdx
Labels: doc

🖋: 流用してそうな説明があるのでコアコンポーネントへのリンクを追加 (#313)
  docs/react-native/learn/basic-concepts/react-native-basics.md
Labels: doc

📝: React Native学習コンテンツのLP (#269)
  docs/react-native/learn/todo-app.md
  landing-page/learn-react-native-lp.md
  landing-page/mobile-security-and-authentication-lp.md
  landing-page/push-notification-guide-lp.md
Labels: doc

🖋: 記載方法を変えてexpoへのリンク切れを回避する
  docs/react-native/learn/getting-started/create-project.md
Labels: doc

🖋: REST API呼び出し時のcurlコマンドがWindowsのコマンドプロンプト上で文字化けする (#319)
  docs/react-native/learn/todo-app/networking/api-request.mdx
Labels: doc

💄: ナビゲーションバーにトップページへのリンクを作成 (#324)
  docusaurus.config.js
Labels: doc

🖋: Promiseのno voidエラーに対して注意書きコメントを追加 (#325)
  docs/react-native/learn/todo-app/screens/auth.mdx
Labels: doc

♻️: VSCode上でコンパイルエラーになるソースを修正(#322)
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
Labels: doc

🌱: code-blockでも置き換えられるように実装してみる (#323)
  docs/react-native/learn/getting-started/create-project.md
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  docs/react-native/learn/todo-app/screens/welcome.mdx
  docs/react-native/santoku/development/dependency-management.md
  docusaurus.config.js
  src/components/RepositoryLink.tsx
Labels: doc

全通しテストで発見したprettierの警告を修正 (#327)
  docs/react-native/learn/todo-app/screens/auth.mdx
  docs/react-native/learn/todo-app/screens/modal.mdx
  docs/react-native/learn/todo-app/screens/tab.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
Labels: doc

💄: ナビゲーションバーのラベルを英語に統一 (#326)
  docusaurus.config.js
Labels: doc

🎨: lint警告を修正
  docs/react-native/learn/todo-app/screens/auth.mdx
  docs/react-native/learn/todo-app/screens/stack.mdx
Labels: doc

📝: 商標登録の確認 (#330)
  docs/reference/index.md
  src/pages/trademark.md
Labels: doc

👷: GitHub Actionsで使うVMを変更 (#318)
  .github/workflows/app.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/report.yaml
  .github/workflows/triage.yaml
  package-lock.json
  package.json
Labels: ci, doc

💄: TabのUI改善 (#332)
  src/css/custom.css
Labels: doc

✨: mobile-app-crib-notesのdocusaurus拡張についてページを追加 (#331)
  docs/docusaurus/index.mdx
  docs/docusaurus/plugins.md
  docs/sidebars.js
Labels: doc

🎨: ソースコードブロック内の「省略」が表記ゆれしていたため、「/* ～省略～ */」に統一
  docs/react-native/learn/advance/react-navigation-param.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/react-native/learn/todo-app/networking/activity-indicator.mdx
Labels: doc

🐛: ドキュメント構成を統一するのと、一部タイトルの修正 (#339)
  docs/docusaurus/index.mdx
  docs/react-native/common-pitfalls.md
  docs/react-native/common-pitfalls/overview.md
  docs/react-native/learn.md
  docs/react-native/santoku.mdx
  docs/reference/index.mdx
  docs/sidebars.js
Labels: doc

🐛: 開発環境の構築ページから補足事項部分を切り出し (#340)
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/learn/getting-started/supplement.md
  docs/sidebars.js
Labels: doc

🖋: 演習課題をREST APIとの接続の後ろに移動
  docs/react-native/learn/todo-app/networking/activity-indicator-each-todo.mdx
  docs/react-native/learn/todo-app/networking/api-request.mdx
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/sidebars.js
Labels: doc

🐛: Tabs, TabItemのインポート漏れを修正 (#342)
  docs/react-native/learn/getting-started/supplement.md
Labels: doc

✨: Draft版ではExample Appを表示するように修正 (#344)
  docusaurus.config.js
Labels: doc

🔨: Bump tool versions, update IntelliJ IDEA settings (#345)
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/dictionaries/shared.xml
  .idea/encodings.xml
  .idea/jsLibraryMappings.xml
  .idea/jsLinters/eslint.xml
  .idea/misc.xml
  .idea/prettier.xml
  .idea/vcs.xml
  .tool-versions
Labels: build, chore

♻️: Docusaurusの設定を整理 (#346)
  .idea/dictionaries/shared.xml
  docusaurus.config.js
  src/css/custom.css
  src/plugins/literal-injector-rehype-plugin/index.js
  src/plugins/medium-zoom-docusaurus-plugin/attach-medium-zoom.js
  src/plugins/medium-zoom-docusaurus-plugin/index.js
Labels: chore, doc

🚑: リファレンスのトップページを少しやわらかく修正 (#341)
  docs/distribution.mdx
  docs/distribution/usecase.mdx
  docs/reference.mdx
  docs/reference/index.mdx
  docs/sidebars.js
Labels: doc

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - SantokuApp/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - SantokuApp/android/**/*

# Add 'app' label to any change within the 'src' directory and to the files listed below
app:
  - SantokuApp/src/**/*
  - SantokuApp/index.js

# Add 'build' label to any changes to the files listed below
build:
  - SantokuApp/.script/**/*
  - SantokuApp/.buckconfig
  - SantokuApp/.editorconfig
  - SantokuApp/.eslintrc.js
  - SantokuApp/babel.config.js
  - SantokuApp/metro.config.js
  - SantokuApp/package.json
  - SantokuApp/package-lock.json
  - SantokuApp/tsconfig.json
  - .tool-versions

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .idea/**/*
  - SantokuApp/.gitattributes
  - SantokuApp/.gitignore
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .tool-versions
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'doc' label to any change within the 'docs' directory
doc:
  - docs/**
  - src/**
  - static/**
  - SantokuApp/README.md
  - .htmltest.yaml
  - .markdownlint.js
  - .textlintrc.js
  - babel.config.js
  - docusaurus.config.js
  - package.json
  - package-lock.json
  - prh.yaml
  - README.md

# Add 'test' label to any change to files within the directories listed below
test:
  - SantokuApp/jest/**/*
  - SantokuApp/jest.config.js
  - SantokuApp/src/**/*.test.tsx
