Repository Fintan-contents/mobile-app-crib-notes, changes with the labels that .github/labeler.yaml gives for each.
All labels: iOS, Android, app, build, chore, ci, doc, test

.github/labeler.yaml:

# Add 'iOS' label to any change within the 'ios' directory
iOS:
  - SantokuApp/ios/**/*

# Add 'Android' label to any change within the 'android' directory
Android:
  - SantokuApp/android/**/*

# Add 'app' label to any change within the 'src' directory and to the files listed below
app:
  - SantokuApp/src/**/*
  - SantokuApp/index.js

# Add 'build' label to any changes to the files listed below
build:
  - SantokuApp/.script/**/*
  - SantokuApp/.buckconfig
  - SantokuApp/.editorconfig
  - SantokuApp/.eslintrc.js
  - SantokuApp/babel.config.js
  - SantokuApp/metro.config.js
  - SantokuApp/package.json
  - SantokuApp/package-lock.json
  - SantokuApp/tsconfig.json
  - .tool-versions

# Add 'chore' label to any change within the '.github' directory and to the files listed below
chore:
  # Changes to files within '.github/workflows' should correspond to the 'ci' label
  - any: ['.github/**/*', '!.github/workflows/**/*']
  - .idea/**/*
  - SantokuApp/.gitattributes
  - SantokuApp/.gitignore
  - .editorconfig
  - .gitattributes
  - .gitignore
  - .tool-versions
  - LICENSE

# Add 'ci' label to any change within the '.github/workflows' directory
ci:
  - .github/workflows/**/*

# Add 'doc' label to any change within the 'docs' directory
doc:
  - docs/**
  - src/**
  - static/**
  - SantokuApp/README.md
  - .htmltest.yaml
  - .markdownlint.js
  - .textlintrc.js
  - babel.config.js
  - docusaurus.config.js
  - package.json
  - package-lock.json
  - prh.yaml
  - README.md

# Add 'test' label to any change to files within the directories listed below
test:
  - SantokuApp/jest/**/*
  - SantokuApp/jest.config.js
  - SantokuApp/src/**/*.test.tsx

🖋️: 「前提知識」ではReact Navigationの型定義を紹介しないように修正 (#202)
  docs/react-native/learn/advance/modal.png
  docs/react-native/learn/advance/react-navigation-param.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.png
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/sidebars.js
Labels: doc

🔨: Add patch-package to run Gradle tasks in asdf-vm env (#209)
  .github/renovate.json5
  SantokuApp/package-lock.json
  SantokuApp/package.json
  SantokuApp/patches/expo-constants+9.3.5.patch
  SantokuApp/patches/expo-updates+0.4.2.patch
Labels: build, chore

🖋: 画面遷移実装を学習コンテンツの最初によせる (#193)
  docs/react-native/learn/todo-app/app-hands-on/auth_flows.png
  docs/react-native/learn/todo-app/app-hands-on/logout.png
  docs/react-native/learn/todo-app/app-hands-on/modal.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-modal.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-stack.png
  docs/react-native/learn/todo-app/app-hands-on/screen-transition-tab.png
  docs/react-native/learn/todo-app/app-hands-on/stack-login.png
  docs/react-native/learn/todo-app/app-hands-on/tab.png
  docs/react-native/learn/todo-app/app-hands-on/tab_navigation.png
  docs/react-native/learn/todo-app/app-hands-on/todo-form.png
  docs/react-native/learn/todo-app/app-project-desc.md
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/app-spec/screen_transition.png
  docs/react-native/learn/todo-app/auth.mdx
  docs/react-native/learn/todo-app/basic-components.mdx
  docs/react-native/learn/todo-app/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/login.mdx
  docs/react-native/learn/todo-app/logo.mdx
  docs/react-native/learn/todo-app/modal.mdx
  docs/react-native/learn/todo-app/navigation-hook.mdx
  docs/react-native/learn/todo-app/split-navigation.mdx
  docs/react-native/learn/todo-app/stack.mdx
  docs/react-native/learn/todo-app/tab.mdx
  docs/react-native/learn/todo-app/todo-board.mdx
  docs/react-native/learn/todo-app/todo-form.mdx
  docs/react-native/learn/todo-app/use-focus-effect.mdx
  docs/sidebars.js
Labels: doc

✨: 書き込み権限が必須のGitHub Actionsはon.workflow_runでトリガーする (#208)
  .github/workflows/app.yaml
  .github/workflows/gh-pages-deploy.yaml
  .github/workflows/gh-pages.yaml
  .github/workflows/report.yaml
  SantokuApp/.gitignore
  SantokuApp/package-lock.json
  SantokuApp/package.json
Labels: build, chore, ci

not install but ci
  README.md
Labels: doc

🖋: npm installではなくnpm ciを使って欲しい (#215)
  README.md
Labels: doc

✨: ビルドバリアントの設定を追加 (#210)
  .idea/dictionaries/ryotan.xml
  .tool-versions
  SantokuApp/.env.development
  SantokuApp/.env.production
  SantokuApp/.gitignore
  SantokuApp/.script/jobs/reset-cache-macos.js
  SantokuApp/android/app/build.gradle
  SantokuApp/android/app/proguard-rules.pro
  SantokuApp/android/app/src/debug/java/jp/fintan/mobile/santokuapp/ReactNativeFlipper.java
  SantokuApp/android/app/src/debugAdvanced/AndroidManifest.xml
  SantokuApp/android/app/src/main/AndroidManifest.xml
  SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainActivity.java
  SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/MainApplication.java
  SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  SantokuApp/android/app/src/main/res/values/strings.xml
  SantokuApp/ios/Podfile.lock
  SantokuApp/ios/SantokuApp.xcodeproj/project.pbxproj
  SantokuApp/ios/SantokuApp.xcodeproj/xcshareddata/xcschemes/DevSantokuApp.xcscheme
  SantokuApp/ios/SantokuApp/Config.xcconfig
  SantokuApp/ios/SantokuApp/Debug.plist
  SantokuApp/package-lock.json
  SantokuApp/package.json
  docs/react-native/santoku.mdx
  docs/react-native/santoku/development.mdx
  docs/react-native/santoku/development/build-type-configurations.mdx
  docs/react-native/santoku/development/build-variants.mdx
  docs/react-native/santoku/development/product-flavor-configurations.mdx
  docs/sidebars.js
Labels: iOS, Android, build, chore, doc

🖋️: Flipperの使い方を追加 (#217)
  docs/react-native/santoku/flipper.md
  docs/sidebars.js
Labels: doc

🐛: TODOアプリハンズオンの誤字を修正 (#227)
  docs/react-native/learn/todo-app/auth.mdx
Labels: doc

⬆: Update Flipper to 0.87.0 (#211)
  SantokuApp/android/gradle.properties
  SantokuApp/ios/Podfile
  SantokuApp/ios/Podfile.lock
Labels: iOS, Android

🐛: Fix fsevents missing dependencies (#222)
  package-lock.json
Labels: doc

🐛: Fix renovate config (#223)
  .github/renovate.json5
Labels: chore

💄: Fix lint errors (ja-technical-writing/max-comma) (#221)
  docs/distribution/usecase/index.mdx
  docs/docusaurus/index.mdx
  docs/react-native/learn/advance/react-navigation-param.mdx
  docs/react-native/learn/basic-concepts.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/button.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/image.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/flat-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/lists/section-list.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/scroll-view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/text.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/touchable-opacity.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/components/view.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/flexbox.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/height-and-width.mdx
  docs/react-native/learn/basic-concepts/react-native-basics/design/style.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/stack.mdx
  docs/react-native/learn/basic-concepts/react-navigation-basics/tab.mdx
  docs/react-native/learn/getting-started.mdx
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/santoku/development/build-variants.mdx
  docs/react-native/troubleshooting/unable-to-load-script.mdx
Labels: doc

🖋️: VS Codeでのデバッグを追加 (#207)
  docs/react-native/settings-vscode.md
  docs/sidebars.js
Labels: doc

✨: タグを#hands-onから#2021.05.0へ変更 (#229)
  docs/react-native/learn/getting-started/create-project.md
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
Labels: doc

⬆: Upgrade Expo SDK to 41 (#232)
  SantokuApp/.gitignore
  SantokuApp/android/app/src/main/java/jp/fintan/mobile/santokuapp/generated/BasePackageList.java
  SantokuApp/android/build.gradle
  SantokuApp/android/gradle/wrapper/gradle-wrapper.properties
  SantokuApp/index.js
  SantokuApp/ios/Podfile
  SantokuApp/ios/Podfile.lock
  SantokuApp/metro.config.js
  SantokuApp/package-lock.json
  SantokuApp/package.json
  SantokuApp/patches/expo-constants+10.1.3.patch
  SantokuApp/patches/expo-updates+0.5.5.patch
  SantokuApp/tsconfig.json
  package-lock.json
Labels: iOS, Android, app, build, chore, doc

✨ : トラブルシュートではなくハマりがちな落とし穴に変更 (#237)
  docs/react-native/common-pitfalls.md
  docs/react-native/common-pitfalls/cant-build-in-xcode.md
  docs/react-native/common-pitfalls/debug-keystore-not-found.md
  docs/react-native/common-pitfalls/failed-to-load-script.png
  docs/react-native/common-pitfalls/react-native-cli-uninstall.md
  docs/react-native/common-pitfalls/unable-to-load-script.mdx
  docs/react-native/learn/getting-started/launch-created-app.mdx
  docs/react-native/learn/getting-started/setting-up-development-environment.mdx
  docs/react-native/troubleshooting/cant-build-in-xcode.md
  docs/sidebars.js
  docusaurus.config.js
  santoku-app/README.md
  src/pages/index.tsx
Labels: doc

🖋: REST APIとの接続を含めて全体構成を更新 (#236)
  docs/react-native/learn.md
  docs/react-native/learn/basic-concepts.mdx
  docs/react-native/learn/todo-app.md
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/networking/api-request.mdx
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
  docs/react-native/learn/todo-app/networking/setting-up-local-server.mdx
  docs/react-native/learn/todo-app/screens/alert.mdx
  docs/react-native/learn/todo-app/screens/auth.mdx
  docs/react-native/learn/todo-app/screens/basic-components.mdx
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/react-native/learn/todo-app/screens/keyboard-avoiding-view.mdx
  docs/react-native/learn/todo-app/screens/login.mdx
  docs/react-native/learn/todo-app/screens/logo.mdx
  docs/react-native/learn/todo-app/screens/modal.mdx
  docs/react-native/learn/todo-app/screens/stack.mdx
  docs/react-native/learn/todo-app/screens/tab.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/react-native/learn/todo-app/screens/todo-form.mdx
  docs/react-native/learn/todo-app/screens/use-focus-effect.mdx
  docs/react-native/learn/todo-app/screens/welcome.mdx
  docs/sidebars.js
Labels: doc

📦️: 依存パッケージの管理方針についてのドキュメントを追加 (#235)
  .idea/dictionaries/ryotan.xml
  docs/react-native/santoku/development.mdx
  docs/react-native/santoku/development/dependency-management.md
  docs/sidebars.js
  src/components/RepositoryLink.tsx
Labels: chore, doc

🖋: REST APIの説明とディレクトリ構成(backend)の追加 (#240)
  docs/react-native/learn/todo-app/app-project-desc.md
  docs/react-native/learn/todo-app/app-spec.md
Labels: doc

✨: API Clientの自動生成のガイドと説明を追加 (#241)
  docs/react-native/learn/todo-app/networking/generate-api-client.mdx
Labels: doc

✨: サービスからTodosAPIを呼び出して確認するページを追加 (#242)
  docs/react-native/learn/todo-app/networking/api-request.mdx
Labels: doc

📝: REST APIの準備 構成、起動、確認方法を追加 (#243)
  docs/react-native/learn/getting-started/expo-build.png
  docs/react-native/learn/getting-started/react-native-build.png
  docs/react-native/learn/todo-app/networking/add-api-to-env.png
  docs/react-native/learn/todo-app/networking/emulator-api-env.png
  docs/react-native/learn/todo-app/networking/machine-api-env.png
  docs/react-native/learn/todo-app/networking/setting-up-local-server.mdx
Labels: doc

🩹: LinuxユーザーへのガイドはないのでOSからLinuxを削除する (#247)
  docs/react-native/learn/getting-started/expo-build.png
  docs/react-native/learn/getting-started/react-native-build.png
  docs/react-native/learn/todo-app/networking/add-api-to-env.png
  docs/react-native/learn/todo-app/networking/emulator-api-env.png
  docs/react-native/learn/todo-app/networking/machine-api-env.png
Labels: doc

🩹: ToDoに統一する (#252)
  docs/react-native/learn/todo-app/app-hands-on/todo-form.png
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/networking/api-request.mdx
  docs/react-native/learn/todo-app/screens/basic-components.mdx
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/react-native/learn/todo-app/screens/modal.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/react-native/learn/todo-app/screens/todo-form.mdx
  docs/react-native/learn/todo-app/screens/use-focus-effect.mdx
Labels: doc

🖋: 前提知識の書き方を変えてみる (#251)
  docs/react-native/learn/basic-concepts/pre-requisites.md
Labels: doc

🖋️: 学習コンテンツにREST API呼びだし中のコンテンツを作成する (#246)
  docs/react-native/learn/todo-app/app-hands-on/ios-wait.png
  docs/react-native/learn/todo-app/app-spec.md
  docs/react-native/learn/todo-app/app-spec/indicator.png
  docs/react-native/learn/todo-app/app-spec/todo_board_all_indicator_block.png
  docs/react-native/learn/todo-app/networking/activity-indicator.mdx
  docs/react-native/learn/todo-app/networking/indicator.png
  docs/sidebars.js
Labels: doc

🚸: Fintanロゴからのリンク先をfintan.jpに変更し、faviconはこのサイトに含めるように修正 (#266)
  docusaurus.config.js
  static/img/Fintan-logo-long.svg
  static/img/favicon.ico
  static/img/fintan-logo.svg
Labels: doc

🖋: ToDoの完了状態更新の改善コンテンツ (#265)
  docs/react-native/learn/todo-app/networking/improve-usability.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/sidebars.js
Labels: doc

🖋: REST API呼び出しのcurlコマンドを修正 (#268)
  docs/react-native/learn/todo-app/networking/api-request.mdx
Labels: doc

🐛: ロゴファイル名を全て小文字に統一 (#271)
  static/img/fintan-logo-long.svg
Labels: doc

🐛: 既存コンテンツで実装するとREST API接続で不具合が発生するポイントを修正する (#256)
  docs/react-native/learn/todo-app/app-hands-on/modal.png
  docs/react-native/learn/todo-app/app-spec/add_task.png
  docs/react-native/learn/todo-app/app-spec/add_task_close.png
  docs/react-native/learn/todo-app/screens/exercise.mdx
  docs/react-native/learn/todo-app/screens/todo-board.mdx
  docs/react-native/learn/todo-app/screens/todo-form.mdx
Labels: doc

ナビゲーションのアプリケーションアーキテクチャを追加
  docs/react-native/santoku/application-architecture.mdx
  docs/react-native/santoku/application-architecture/navigation/login_to_todo_board.png
  docs/react-native/santoku/application-architecture/navigation/navigation-pattern.mdx
  docs/react-native/santoku/application-architecture/navigation/navigation_commonplace.png
  docs/react-native/santoku/application-architecture/navigation/overview.mdx
  docs/react-native/santoku/application-architecture/navigation/overview_of_navigation.png
  docs/react-native/santoku/application-architecture/navigation/to_login.png
  docs/react-native/santoku/application-architecture/navigation/todo_board_to_todo_detail.png
  docs/react-native/santoku/application-architecture/navigation/todo_board_to_todo_form.png
  docs/react-native/santoku/application-architecture/navigation/todo_board_to_user_setting.png
  docs/react-native/santoku/application-architecture/navigation/todo_form_to_todo_form_confirm.png
  docs/sidebars.js
Labels: doc

chore
  docs/react-native/santoku/application-architecture/navigation/navigation-pattern.mdx
Labels: doc

🖋: 「バックエンド連携は実装しない」記載を削除し、ToDoService部品作成時は、バックエンド連携はしない説明を追加 (#273)
  docs/react-native/learn/todo-app/screens/todo-board.mdx
Labels: doc

🖋:「React Navigationの基本」に初期表示画面の説明を追加 (#267)
  docs/react-native/learn/basic-concepts/react-navigation-basics.mdx
Labels: doc

🖋: 画面の実装前にApp.tsxを元に戻す記載を追加 (#272)
  docs/react-native/learn/todo-app/screens/welcome.mdx
Labels: doc

不要な`を削除 (#295)
  docs/react-native/learn/todo-app/screens/todo-form.mdx
Labels: doc

React Nativeの基本のModalにAndroidではアニメーションの変更がないことを追記 (#277)
  docs/react-native/learn/basic-concepts/react-navigation-basics/modal.mdx
  docs/react-native/learn/todo-app/screens/modal.mdx
Labels: doc

🐛: 書き換え方のガイド方法が間違っているので修正 (#296)
  docs/react-native/learn/todo-app/networking/api-request.mdx
Labels: doc
